{% extends "_layout" %}
{% set title =  entry.title ~ ' | ' ~ entry.parent('title') %}

{% block content %}
	<div class="inset">
		<article class="section">
			{% include "_partials/" ~ entry.type %}
		</article>
	</div>

    {% if craft.request.firstSegment == 'portfolio' %}
        {% include "_partials/portfolioPag" %}
    {% else  %}
        {% include "_partials/onRoadPag" %}
    {% endif %}

{% endblock %}

