{% extends "_layout" %}

{% block content %}
<div class="inset">
    <article class="section">
        <div class="grid_item">
            <div class="content_block">
                <h2>{{ entry.title | capitalize }}</h2>

                <ul class="work_meta">
                    {% set seriesName = entry.parent('title') %}
                    {% if seriesName is not null %}<li class="work_meta-item">{{ seriesName }}</li>{% endif %}
                    <li class="work_meta-item">{{ entry.materials }}</li>
                    <li class="work_meta-item">{{ entry.dimensions }}</li>
                </ul>
                <div class="work_description">
                    {{ entry.description }}
                </div>
            </div>
        </div>

        <div class="media_container">

            <div class="grid_item--media">
                {% for block in entry.media %}
                <div class="media-block">
                    <div class="media-block">
                        {% if block.type == 'firstColumn' %}
                        {% set image = block.fcImage.first() %}
                            {% if image is not null %}
                            <div class="img-block">
                                <img src="{{ image.url }}" alt="{{ image.title }}">
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="grid_item--media">
                {% for block in entry.media %}
                <div class="media-block">
                    <div class="media-block">
                        {% if block.type == 'secondColumn' %}
                        {% set image = block.scImage.first() %}
                            {% if image is not null %}
                            <div class="img-block">
                                <img src="{{ image.url }}" alt="{{ image.title }}">
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

       </div>

    </article>
</div>

{% set params = { section: 'gallery', type: 'project' } %}
{% set prevArt = entry.getPrev(params) %}
{% set nextArt = entry.getNext(params) %}

<div class="page_nav">
    {% if prevArt %}
    <a class="page_nav-item--left" href="{{ prevArt.url }}"></a>
    {% endif %}

    {% if nextArt %}
    <a class="page_nav-item--right" href="{{ nextArt.url }}"></a>
    {% endif %}
</div>
{% endblock %}