/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../stylesheets/_base/_colors.sass */
h1, h2, h3, h4 {
  color: #444444;
}

/* line 19, ../stylesheets/_base/_colors.sass */
a:link, a:visited {
  color: #f1a900;
  text-decoration: none;
}
/* line 24, ../stylesheets/_base/_colors.sass */
a:hover, a:focus, a:active {
  color: #be8500;
}

/* line 29, ../stylesheets/_base/_colors.sass */
.nav_item-block:link, .nav_item-block:visited {
  color: #949274;
  text-decoration: none;
}
/* line 33, ../stylesheets/_base/_colors.sass */
.nav_item-block:hover, .nav_item-block:focus, .nav_item-block:active {
  color: #f1a900;
}
/* line 36, ../stylesheets/_base/_colors.sass */
.nav_item-block.active {
  color: #f1a900;
}

/* line 62, ../stylesheets/_base/_type.sass */
strong, .item-details .item-title {
  font-weight: 600;
}

/* line 73, ../stylesheets/_base/_type.sass */
h4, .hdr4, .item-details {
  font-size: 14px;
  font-size: 0.93333rem;
  line-height: 18px;
  line-height: 1.2rem;
}

/* line 76, ../stylesheets/_base/_type.sass */
h3, .hdr3 {
  font-size: 15px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.33333rem;
}

/* line 79, ../stylesheets/_base/_type.sass */
h2, .hdr2 {
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 30px;
  line-height: 2rem;
}

/* line 91, ../stylesheets/_base/_type.sass */
h1, .hdr1 {
  font-size: 32px;
  font-size: 2.13333rem;
  line-height: 40px;
  line-height: 2.66667rem;
}

/* line 100, ../stylesheets/_base/_type.sass */
h1, h2, h3, h4 {
  margin: 0;
}

/* line 117, ../stylesheets/_base/_type.sass */
p {
  margin-bottom: 10px;
  margin-bottom: 0.66667rem;
}

/* line 4, ../stylesheets/_general/_extends.sass */
.page-wrap .art, .page_nav .page_nav-item--right, .page_nav .page_nav-item--left {
  position: absolute;
}

/* line 7, ../stylesheets/_general/_extends.sass */
.page-wrap, .container, header,
.content,
footer, .nav {
  position: relative;
}

/* line 15, ../stylesheets/_general/_extends.sass */
.site-name, .nav .nav_container .nav_item .nav_item-block, .item, .img-block img, .page_nav .page_nav-item--right, .page_nav .page_nav-item--left {
  display: block;
}

/* line 24, ../stylesheets/_general/_extends.sass */
.project-slider, .item-img-block, .grid_item--media {
  overflow: hidden;
}

/* line 29, ../stylesheets/_general/_extends.sass */
.nav .nav_container .nav_item {
  float: left;
  display: inline;
}

/* line 32, ../stylesheets/_general/_extends.sass */
.nav .nav_container .nav_item.last {
  float: right;
  display: inline;
}

/* line 55, ../stylesheets/_general/_extends.sass */
.nav .nav_container {
  *zoom: 1;
}
/* line 56, ../stylesheets/_general/_extends.sass */
.nav .nav_container:before {
  content: "";
  display: table;
}
/* line 59, ../stylesheets/_general/_extends.sass */
.nav .nav_container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 70, ../stylesheets/_general/_extends.sass */
.site-name {
  text-align: center;
}

/* line 87, ../stylesheets/_general/_extends.sass */
a:link, a:visited, .item-details .item-description {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

/* line 98, ../stylesheets/_general/_extends.sass */
.site-name img, .img-block img, .item-img-block img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* line 105, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 93.75%;
  line-height: 1.33333em;
}

/* line 23, ../stylesheets/site.sass */
html {
  background: #fff7dc;
  color: #949274;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 36, ../stylesheets/site.sass */
.page-wrap {
  background: #949274 url(../img/art_bgd.jpg) repeat-x 0 50%;
  height: 2.06667em;
}
/* line 41, ../stylesheets/site.sass */
.page-wrap .art {
  background: transparent url(../img/art_bubble.jpg) no-repeat left 0;
  top: 0;
  left: 50%;
  margin-left: -34.13333em;
  width: 68.26667em;
  height: 5.2em;
}

/* line 50, ../stylesheets/site.sass */
.container {
  z-index: 99;
}

/* line 54, ../stylesheets/site.sass */
.content {
  min-height: 31.06667em;
}

/* line 58, ../stylesheets/site.sass */
header,
.content,
footer {
  *zoom: 1;
  max-width: 76.33333em;
  _width: 76.33333em;
  padding-left: 1.33333em;
  padding-right: 1.33333em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after,
.content:after,
footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 62, ../stylesheets/site.sass */
.site-name {
  margin: 3.33333rem auto;
  width: 15.86667em;
  height: 1.8em;
}
/* line 70, ../stylesheets/site.sass */
.site-name.home {
  width: 31.53333em;
  height: 3.6em;
}

/* line 81, ../stylesheets/site.sass */
.inset {
  padding-left: 9.17031%;
  padding-right: 9.17031%;
}

/* line 84, ../stylesheets/site.sass */
.grid_item {
  width: 32.62032%;
  float: left;
  margin-right: 1.06952%;
  display: inline;
}
/* line 184, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
.grid_item:nth-child(3) {
  float: right;
  margin-right: 0;
}

/* line 92, ../stylesheets/site.sass */
.nav {
  margin-top: 2em;
}
/* line 99, ../stylesheets/site.sass */
.nav .nav_container .nav_item {
  border-left: 2px solid #949274;
  line-height: 1;
  padding: 0 0.66667rem;
}
/* line 104, ../stylesheets/site.sass */
.nav .nav_container .nav_item:first-child {
  border: none;
  padding-left: 0;
}
/* line 107, ../stylesheets/site.sass */
.nav .nav_container .nav_item.last {
  border: none;
  padding: 0;
}

/* line 122, ../stylesheets/site.sass */
.item:hover, .item:focus, .item:active {
  color: #f1a900;
}

/* line 125, ../stylesheets/site.sass */
.item-img-block {
  max-height: 30.13333em;
}

/* line 130, ../stylesheets/site.sass */
.item-details {
  color: #949274;
  margin-top: 5px;
  margin-top: 0.33333rem;
}
/* line 135, ../stylesheets/site.sass */
.item-details .item-title {
  color: black;
  margin: 0;
}
/* line 140, ../stylesheets/site.sass */
.item-details .item-description {
  margin: 0;
}

/* line 147, ../stylesheets/site.sass */
.media_container {
  width: 66.31016%;
  float: right;
  margin-right: 0;
  *margin-left: -0.66667em;
  display: inline;
}

/* line 150, ../stylesheets/site.sass */
.grid_item--media {
  max-height: 28em;
  width: 49.19355%;
  float: left;
  margin-right: 1.6129%;
  display: inline;
}
/* line 184, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
.grid_item--media:nth-child(2) {
  float: right;
  margin-right: 0;
}

/* line 156, ../stylesheets/site.sass */
.content_block {
  padding-right: 1.33333em;
}

/* line 159, ../stylesheets/site.sass */
.work_meta {
  margin-bottom: 10px;
  margin-bottom: 0.66667rem;
  margin-top: 5px;
  margin-top: 0.33333rem;
}

/* line 163, ../stylesheets/site.sass */
.work_meta-item {
  border-top: 1px solid #949274;
  padding: 0.46667rem 0;
}

/* line 167, ../stylesheets/site.sass */
.img-block {
  margin-bottom: 0.66667em;
}

/* line 175, ../stylesheets/site.sass */
.page_nav .page_nav-item--right, .page_nav .page_nav-item--left {
  background: transparent url(../img/page_arrows.png) no-repeat;
  width: 2.13333em;
  height: 2em;
  top: 50%;
  cursor: pointer;
}

/* line 184, ../stylesheets/site.sass */
.page_nav {
  width: 100%;
}
/* line 187, ../stylesheets/site.sass */
.page_nav .page_nav-item--right {
  right: 0;
  background-position: center -30px;
}
/* line 193, ../stylesheets/site.sass */
.page_nav .page_nav-item--left {
  background-position: center 0;
  left: 0;
}
