@import compass
@import compass/reset

@import susy

// Base Imports

@import _base/colors
@import _base/type

// General Imports

@import _general/extends
@import _general/functions
@import _general/breakpoints

@import _modules/_fluidbox


// Root styles

+establish-baseline

html
	background: $body-background
	color: $primary-text
	font-family: $base-font-family

body
	@extend %position-relative
	width: 100%

// Layout
// Setting up the Magic Grid

$total-columns: 11
$column-width: em(95px)
$gutter-width: em(10px)
$grid-padding: em(20px)

.page-wrap
	@extend %position-relative
	background: $primary-text url(../img/art_bgd.jpg) repeat-x 0 50%
	height: em(31px)
	width: 100%

	.art
		@extend %position-absolute
		background: transparent url(../img/art-bub.jpg) no-repeat left 0
		top: 0
		left: 50%
		margin-left: em(-45px)
		width: em(90px)
		height: em(80px)

.container
	@extend %position-relative
	z-index: 99
//
//.content
//	min-height: em(466px)


%site-width
	+container
	//+susy-grid-background

.site-name
	@extend %display-block
	@extend %text-center
	@extend %img-full
	margin: rhythm(2.5) auto
	width: em(238px)
	height: em(27px)

	&.home
		width: em(473px)
		height: em(54px)
		+respond-to(tablet)
			width: 75%
			height: auto
		+respond-to(handheld-landscape)
			width: 95%

header,
.content,
footer
	@extend %position-relative
	@extend %site-width

.content
	padding-bottom: rhythm(3)

.inset
	+pad(1,1)

.grid_item
	+span-columns(3,9)
	+nth-omega(3n)
	+respond-to(tablet)
		+reset-columns
		+remove-nth-omega(3n)
		margin-bottom: rhythm(1)
		+respond-to(tablet-small)
			width: 100%
			text-align: left

.grid_item--alt
	+span-columns(3,9)
	&:nth-child(3n+1)
		clear: both
	+nth-omega(3n)

	+respond-to(tablet)
		+span-columns(4.4,9)
		+remove-nth-omega(3n)
		&:nth-child(3n+1)
			clear: none
		&:nth-child(2n+1)
			clear: both
		+nth-omega(2n)

	+respond-to(tablet-small)
		+span-columns(9,9)
		+remove-nth-omega(2n)
		&:nth-child(2n+1)
			clear: none


.grid_item--full
	@extend %text-center
	+reset-columns
	width: 85%
	margin: 0 auto rhythm(2) auto
	+respond-to(tablet-small)
		width: 100%
		text-align: left

	.content_block
		padding-right: 0


.img-block
	@extend %img-full

.artistCol
	+span-columns(4,11)
	+respond-to(tablet)
		+trailer(1.5)
		+reset-columns

.resume
	+span-columns(6 omega,11)
	+respond-to(tablet)
		+reset-columns

	.group
		margin-bottom: rhythm(1)

	.group-title
		@extend %text-caps
		color: $primary-text
		margin: 0 0 rhythm(.5) 0
		font-weight: bold
		border-color: $primary-text
		+trailing-border(1px,.25)


// Main Navigation
.nav
	@extend %position-relative
	margin-top: em(30px)
	+respond-to(desktop-large)
		margin-top: em(60px)

	+respond-to(tablet)
		text-align: center

	.nav_container
		@extend %clearfix

		.nav_item
			@extend %display-inline-block
			border-left: 2px solid $primary-text
			line-height: 1.25
			padding: 0 rhythm(.5)
			vertical-align: top
			&:first-child
				border: none
				padding-left: 0

			.nav_item-block
				@extend %display-block

			&:last-child
				float: right
				border: none
				padding: 0

				+respond-to(tablet)
					float: none
					border-left: 2px solid $primary-text
					padding: 0 rhythm(.5)




// HomePage
.project-slider
	@extend %overflow-hidden

.item
	@extend %display-block
	#{$focus}
		color: $link-color

.item-img-block
	@extend %img-full
	@extend %overflow-hidden

.item-details
	@extend %text-small
	color: $primary-text
	+leader(.25)

	.item-title
		margin: 0

	.item-description
		@extend %transition-color
		margin: 0


// Gallery

// Standard project Layout
.media_container
	+span-columns(6 omega,9)
	+respond-to(tablet)
		+reset-columns

.grid_item--media
	+span-columns(3,6)
	+nth-omega(2)

	+respond-to(tablet)
		+span-columns(4.4,9)
		&:nth-child(2n+1)
			clear: both
		+nth-omega(2n)

	+respond-to(tablet-small)
		+span-columns(9,9)
		+remove-nth-omega(2n)
		&:nth-child(2n+1)
			clear: none


// Write Up layout
.grid_item--text
	@extend %overflow-hidden
	+span-columns(6,9)

	+respond-to(tablet)
		+trailer(1.5)
		+reset-columns

.grid_item--text_media
	+span-columns(3 omega,9)

	+respond-to(tablet)
		+reset-columns

// Give text some room to the right
.content_block
	padding-right: em(20px)
	+respond-to(tablet)
		padding: 0

.work_meta
	+trailer(.5)
	+leader(.25)

.work_meta-item
	border-top: 1px solid $primary-text
	padding: rhythm(.35) 0

.img-block
	margin-bottom: 10px
	img
		@extend %display-block

// Video
.vid-block
	@extend .flex-video



// Page Nav

%page_nav-item
	@extend %display-block
	@extend %position-absolute
	background: transparent url(../img/page_arrows.png) no-repeat
	width: em(32px)
	height: em(30px)
	top: em(105px)
	margin-top: em(-15px)
	cursor: pointer

.page_nav
	width: 100%

	.page_nav-item--right
		@extend %page_nav-item
		right: em(30px)
		background-position: center -30px


	.page_nav-item--left
		@extend %page_nav-item
		background-position: center 0
		left: em(30px)


/* Video - Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/ ---------------------- */
.flex-video
	position: relative
	padding-top: 25px
	padding-bottom: 67.5%
	height: 0
	margin-bottom: 16px
	overflow: hidden

	&.widescreen
		padding-bottom: 57.25%

	&.vimeo
		padding-top: 0

	iframe,object,embed,video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%




