{# Layout template All other templates extend
 ========================== #}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns="http://www.w3.org/1999/xhtml" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" xmlns="http://www.w3.org/1999/xhtml" lang="en-US" > <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" xmlns="http://www.w3.org/1999/xhtml" lang="en-US" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" lang="en-US"> <!--<![endif]-->

<head>
    {{ getHeadHtml() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} | {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
    <link rel="stylesheet" type="text/css" href="/_assets/css/site.css" />
    <link rel="canonical" href="{{ entry.url }}">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="icon" href="" type="image/x-icon">

</head>

<body {% if craft.request.firstSegment == '' %}class="home"{% endif %}>
    <div class="page-wrap">
        <span class="art"></span>
    </div>
        <div class="container">
            <header id="header">
                <div class="inset">
                    <nav class="nav">


                        {% set galleryElement = craft.entries.section('gallery').type('project').level(2).first() %}
                        {% set roadElement = craft.entries.section('onTheRoad').type('project').level(2).first() %}

                        <ul class="nav_container">
                            <li class="nav_item"><a class="nav_item-block {% if craft.request.firstSegment == '' %}active{% endif %}" href="{{ siteUrl }}">Home</a></li>
                            <li class="nav_item"><a class="nav_item-block {% if craft.request.firstSegment == 'gallery' %}active{% endif %}" href="{{ galleryElement.getUrl }}﻿">Gallery</a></li>
                            <li class="nav_item"><a class="nav_item-block {% if craft.request.firstSegment == 'on-the-road' %}active{% endif %}" href="{{ roadElement.getUrl }}">On The Road</a></li>
                            <li class="nav_item"><a class="nav_item-block {% if craft.request.firstSegment == 'the-artist' %}active{% endif %}" href="{{ url('the-artist') }}" >The Artist</a></li>
                        </ul>
                    </nav>
                </div>
                {% if craft.request.firstSegment == '' %}
                <span class="site-name home">
                    <img src="/_assets/img/judy_large.png" alt="judith Olsen Gregory">
                </span>
                {% else %}
                <a class="site-name" href="{{ siteUrl }}">
                    <img src="/_assets/img/judy_small.png" alt="judith Olsen Gregory">
                </a>
                {% endif %}


            </header>

            <main class="content" role="main">
                {% block content %}

                {% endblock %}
            </main>
        </div>

        {% block js %}
            <script type="text/javascript" src="/_assets/js/modernizr.custom.js"></script>
        {% endblock js %}
</body>
</html>
