{#
 # Homepage template
 # ---------------#}

{% extends "_layout" %}

{% block content %}
	<ul class="inset project-slider">
        {% set params = { section: 'gallery, onTheRoad', type: 'project' } %}

        {% for entry in shuffle(craft.entries(params).find()) %}
        <li class="grid_item">
            <a href="{{ entry.url }}">

            <div class="item-img-block">
                {% set found = false %}
                {% for block in entry.media %}

                    {% set showFirst = block.type == "firstColumn" and block.showOnHomepage | length and found == false %}
                    {% set showSecond = block.type == "secondColumn" and block.showOnHomepage | length and found == false %}
                        {% if showFirst  %}
                            {% set image = block.fcImage.first() %}
                            <img src="{{ image.url }}" alt="{{ image.title }}">
                        {% elseif showSecond %}
                            {% set image = block.scImage.first() %}
                            <img src="{{ image.url }}" alt="{{ image.title }}">
                        {% endif %}
                        {% set found = true %}
                {% endfor %}
            </div>

            <div class="item-details">
                <p class="item-title">{{ entry.title | capitalize }}</p>
                <p class="item-description">{{ entry.materials }} {{ '— ' ~ entry.dimensions }}</p>
            </div>

            </a>
        </li>
        {% endfor %}
	</ul>

{% set params = { section: 'gallery', type: 'project' } %}
{% set prevArt = entry.getPrev(params) %}
{% set nextArt = entry.getNext(params) %}

<div class="page_nav">
    <a class="page_nav-item--left" href=""></a>

    <a class="page_nav-item--right" href=""></a>
</div>
{% endblock %}
